    <!-- Main Content -->
    <div class="container">
        <h1 style="color: #00bfff;">Contact Us</h1>
        <h3 >WE WOULD LOVE TO HEAR FROM YOU. FEEL FREE TO GET IN TOUCH WITH US THROUGH ANY OF FOLLOWING METHODS:</h3>

        <div class="contact-section">
            <div class="contact-box">
                <img src="Location.jpg" alt="Address icon" width="50">
                <p>KG 11 Ave,<br>Bumbogo - Gasabo - Kigali</p>
            </div>
            <div class="contact-box">
                <img src="phone.jpg" alt="Phone Icon" width="50">
                <p>School Office Number: +250 788921705</p>
                <p>Secretary Number: +250 78084612011</p>
       
            </div>
            <div class="contact-box">
                <img src="Gmail.jpg" alt="Gmail Icon" width="50">
                <p>sainterithaschool&#64;gmail.com</p>
            </div>
            <div class="contact-box">
                <img src="Instagram.jpg" alt="Instagram Icon" width="50">
                <p>&#64;sainterita_school</p>
            </div>
        </div>
    </div>
