
    <!-- Main Content -->
    <div class="container">
        <h1>Gallery</h1>
        <h3> A GLIMPSE OF OUR SCHOOL LIFE, EVENTS, AND ACHIEVEMENTS!</h3>

        <div class="gallery">
            <img src="../../assets/images/graduation ceremony.jpeg" alt="Graduation Ceremony">
            <img src="../../assets/images/Baptism ceremony.jpeg" alt="Library Study Session">
            <img src="../../assets/images/cofounders.jpeg" alt="Graduation Ceremony">
            <img src="../../assets/images/parents.jpeg" alt="Graduation Ceremony">
            <img src="../../assets/images/assembly pic.jpg" alt="Library Study Session">
            <img src="../../assets/images/library session.jpg" alt="Student Activities">
            <img src="../../assets/images/game2.jpg" alt="Sports Event">
            <img src="../../assets/images/smile 2.jpg" alt="Graduation Ceremony">
            <img src="../../assets/images/class time.jpeg" alt="class time">
            <img src="../../assets/images/lib2.jpg" alt="Science Fair">
            <img src="../../assets/images/public speaking assembly.jpeg" alt="Art Exhibition">
            <img src="../../assets/images/game.jpg" alt="School Choir">
            <img src="../../assets/images/game5.jpg" alt="Gymnastics Team">
            <img src="../../assets/images/smile.jpg" alt="Library Study Session">
            <img src="../../assets/images/comp lab.jpg" alt="Library Study Session">
            <img src="../../assets/images/class time.jpg" alt="Library Study Session">
            <img src="../../assets/images/chosing session.jpg" alt="Library Study Session">
            <img src="../../assets/images/choose2.jpg" alt="Library Study Session">
            <img src="../../assets/images/ukarisitiya bap.jpeg" alt="Graduation Ceremony">
            <img src="../../assets/images/break1.jpg" alt="break time">
            <img src="../../assets/images/break2.jpg" alt="break time">
            
        </div>
    </div>
