
    <!-- Main Content -->
    <div class="container">
        <h1>Gallery</h1>
        <h3> A GLIMPSE OF OUR SCHOOL LIFE, EVENTS, AND ACHIEVEMENTS!</h3>

        <div class="gallery">
            <img src="graduation ceremony.jpeg" alt="Graduation Ceremony">
            <img src="Baptism ceremony.jpeg" alt="Library Study Session">
            <img src="cofounders.jpeg" alt="Graduation Ceremony">
            <img src="parents.jpeg" alt="Graduation Ceremony">
            <img src="assembly pic.jpg" alt="Library Study Session">
            <img src="library session.jpg" alt="Student Activities">
            <img src="game2.jpg" alt="Sports Event">
            <img src="smile 2.jpg" alt="Graduation Ceremony">
            <img src="class time.jpeg" alt="class time">
            <img src="lib2.jpg" alt="Science Fair">
            <img src="public speaking assembly.jpeg" alt="Art Exhibition">
            <img src="game.jpg" alt="School Choir">
            <img src="game5.jpg" alt="Gymnastics Team">
            <img src="smile.jpg" alt="Library Study Session">
            <img src="comp lab.jpg" alt="Library Study Session">
            <img src="class time.jpg" alt="Library Study Session">
            <img src="chosing session.jpg" alt="Library Study Session">
            <img src="choose2.jpg" alt="Library Study Session">
            <img src="ukarisitiya bap.jpeg" alt="Graduation Ceremony">
            <img src="break1.jpg" alt="break time">
            <img src="break2.jpg" alt="break time">
            
        </div>
    </div>
