<!-- Navbar Start -->
<nav class="navbar navbar-expand-lg bg-white navbar-light shadow sticky-top p-0">
    <a routerLink="/home" class="navbar-brand d-flex align-items-center px-4 px-lg-5">
        <!-- School Logo -->
        <img src="assets/images/logo.png" alt="School Logo" class="me-3" style="height: 70px;">
        <h3 class="m-0" style="color: rgb(56, 56, 57);">ECOLE SAINTE RITA</h3>
    </a>
    <button type="button" class="navbar-toggler me-4 menu-toggle" data-bs-toggle="collapse" data-bs-target="#navbarCollapse">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarCollapse">
        <div class="navbar-nav ms-auto p-4 p-lg-0">
            <a routerLink="/home" routerLinkActive="active" class="nav-item nav-link">Home</a>
            <a routerLink="/services" routerLinkActive="active" class="nav-item nav-link">Services</a>
            <a routerLink="/about" routerLinkActive="active" class="nav-item nav-link">About</a>
            <a routerLink="/gallery" routerLinkActive="active" class="nav-item nav-link">Gallery</a>
            <a routerLink="/contact" routerLinkActive="active" class="nav-item nav-link">Contact</a>
        </div>
        <a href="" class="btn custom-btn py-4 px-lg-5 d-none d-lg-block" style="border-radius: 0;">Join Now<i class="fa fa-arrow-right ms-3"></i></a>
    </div>
  </nav>
  <!-- Navbar End -->






<router-outlet></router-outlet>





 <!-- Footer -->
 <footer class="footer">
  <p>&copy;2025 École Sainte Rita. All Rights Reserved.</p>
</footer>