
<!-- Header -->
<header class="header">
  <div class="logo-container">
  <div class="logo">
      <img src="../assets/logo.png" alt="Logo">
      </div>
      <span class="title">ECOLE SAINTE RITA</span>
  </div>
  <button class="menu-toggle" onclick="toggleMenu()">☰</button>
  <ul class="nav">
      <li><a routerLink="/home" routerLinkActive="activebutton" ariaCurrentWhenActive="page">Home</a></li>
      <li><a routerLink="/services" routerLinkActive="activebutton" ariaCurrentWhenActive="page">Services</a></li>
      <li><a routerLink="/about" routerLinkActive="activebutton" ariaCurrentWhenActive="page">About</a></li>
      <li><a routerLink="/gallery" routerLinkActive="activebutton" ariaCurrentWhenActive="page">Gallery</a></li>
      <li><a routerLink="/contact" routerLinkActive="activebutton" ariaCurrentWhenActive="page">Contact</a></li>
  </ul>
</header>


<router-outlet></router-outlet>





 <!-- Footer -->
 <footer class="footer">
  <p>&copy;2025 École Sainte Rita. All Rights Reserved.</p>
</footer>