<!-- Header Start -->
<div class="container-fluid bg-primary py-5 mb-5 page-header">
    <div class="container py-5">
        <div class="row justify-content-center">
            <div class="col-lg-10 text-center">
                <h2 class="display-3 text-white animated slideInDown">Our Services</h2>
            </div>
            <div class="col-lg-10 text-center">
                <h1 class="display-3 text-white animated slideInDown">Quality Education and Personalized Learning</h1>
            </div>
        </div>
    </div>
  </div>
  <!-- Header End -->

<!-- Main Content -->
    <div class="container">
        <div class="grid">
            <div class="card">
                <h4>Academic Excellence</h4>
                <img src="../../assets/images/graduation ceremony.jpeg" alt="Academic Excellence">
                <p>In academic excellence, we ensure that each student performs well by fostering a supportive learning environment, providing personalized guidance, and implementing effective teaching strategies. We encourage critical thinking, promote active engagement, and offer resources that cater to different learning styles. Through continuous assessment, mentorship, and motivation, we help students build confidence, develop essential skills, and achieve their full potential.</p>
            </div>

            <div class="card">
                <h4>Extracurricular Activities</h4>
                <img src="../../assets/images/public speaking assembly.jpeg" alt="Extracurricular Activities">
                <p>Extracurricular activities, such as public speaking, play a crucial role in shaping our youth into confident and effective leaders. These activities provide opportunities for students to develop essential communication skills, think critically, and express their ideas with clarity and conviction. By participating in debates, presentations, and leadership workshops, young individuals learn to overcome stage fright, engage with diverse audiences, and inspire change. From sports to arts, we offer a variety of activities to develop students' skills beyond academics. Such experiences not only enhance their academic growth but also prepare them to take on leadership roles in their communities and future careers.</p>
            </div>

            <div class="card">
                <h4>Student Support Services</h4>
                <img src="../../assets/images/Baptism ceremony.jpeg" alt="Student Support">
                <p>We offer baptism services as a spiritual foundation for students, fostering their moral and ethical growth. Our approach emphasizes faith, character building, and a sense of community, helping students develop strong values that guide them through life.  

                    In addition, we provide guidance, counseling, and mentorship programs to support students in both their academic and personal journeys. Through one-on-one counseling sessions, group mentorship, and life skills training, we help students navigate challenges, set meaningful goals, and make informed decisions about their future. By addressing their emotional, psychological, and career-related needs, we empower them to build confidence, resilience, and a strong sense of purpose, ensuring they are well-prepared for success in all aspects of life.</p>
            </div>
        </div>
    </div>

